* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-primary: #0d0d0d;

    --bg-fill-food: #ef333b;
    --bg-fill-snake: #dbdbdb;
    --bg-fill-dead-snake: #ff0000;

    --text-primary: #eeeeee;

    --text-accent-color: #220101d5;
    --text-accent-red-color: #9c0505d5;

    --br-primary-color: #333333;
    --br-dead-color: #cb020c;

    --pd-44: 44px;
    --pd-12: 12px;
    --pd-18: 18px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --br-radius: 6px;

    --block-size: 40px;
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


.check {
    outline: 1px solid blue;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: var(--pd-12) var(--pd-18);
    border: none;
    border-radius: var(--br-radius);
    font-size: 15px;
    font-weight: 600;
    transition: all 120ms ease-in-out;
}

.btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.top-level {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: var(--gap-20);
    padding: var(--pd-44);
    overflow-x: hidden;
}

header.game-info {
    width: 100%;
    justify-content: space-between;
}

.game-score {
    width: 100%;
    justify-content: space-between;
    gap: var(--gap-16);
}

.info-box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap-12);
    padding: 4px 6px;
    font-size: 24px;
    font-weight: 700;
    border: 1.5px solid var(--br-primary-color);
    border-radius: var(--br-radius);
}

.game-board {
    width: 100%;
    flex-grow: 1;
    border: 1.5px solid var(--br-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--block-size), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--block-size), 1fr));
}

.block {
    width: var(--block-size);
    height: var(--block-size);
    text-align: center;
    outline: 1px solid var(--br-primary-color);
    font-size: 60%;
}

.snake-block {
    background-color: var(--bg-fill-snake);
}

.dead-snake {
    background-color: var(--bg-fill-dead-snake);
}

.food-block {
    background-color: var(--bg-fill-food);
}

.start-overlay-display {
    display: flex !important;
}

.game-over-overlay-display {
    display: flex !important;
}

.overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e8d;
    backdrop-filter: blur(2px);
}

.overlay-text {
    width: 70%;
    margin-inline: auto;
    text-align: center;
    text-wrap: wrap;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 1px 2px var(--text-accent-color);
}

.game-over-overlay .overlay-text {
    font-size: 26px;
    text-shadow: 1px 1px 2px var(--text-accent-red-color);
}

.game-over-msg {
    margin-top: 6px;
    font-size: large;
    text-shadow: 1px 1px 2px var(--text-accent-color);
}