* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Dark Mode */
    --bg-primary-dark: #0d0d0d;
    
    --bg-fill-food-dark: #61ef33;
    --snake-head-dark: url(assets/Dark-snake-head.png);
    --bg-fill-snake-l-dark: #7a0000;
    --bg-fill-snake-r-dark: #4d0000;
    --bg-fill-dead-snake-dark: #ec2a2a;
    
    --text-primary-dark: #eeeeee;
    --text-accent-color-dark: #011e22d5;
    --text-accent-red-color-dark: #055d9cd5;
    
    --br-primary-color-dark: #333333;
    --br-dead-color-dark: #02cbc7;
    
    
    /* Light Mode */
    --bg-primary-light: #e3e3e3;
    
    --bg-fill-food-light: #cf1919;
    --snake-head-light: url(assets/Light-snake-head.png);
    --bg-fill-snake-l-light: #004d00;
    --bg-fill-snake-r-light: #003300;
    --bg-fill-dead-snake-light: #7c1515;
    
    --text-primary-light: #090909;
    --text-accent-color-light: #011e22d5;
    --text-accent-red-color-light: #055d9cd5;
    
    --br-primary-color-light: #ada9a9;
    --br-dead-color-light: #c6bbbb;


    --pd-44: 44px;
    --pd-12: 12px;
    --pd-18: 18px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --br-radius: 6px;

    --block-size: 40px;
}

body {
    /* default = dark theme */
    --bg-primary: var(--bg-primary-dark);

    --bg-fill-food: var(--bg-fill-food-dark);
    --snake-head: var(--snake-head-dark);
    --bg-fill-snake-l: var(--bg-fill-snake-l-dark);
    --bg-fill-snake-r: var(--bg-fill-snake-r-dark);
    --bg-fill-dead-snake: var(--bg-fill-dead-snake-dark);
    
    --text-primary: var(--text-primary-dark);
    --text-accent-color: var(--text-accent-color-dark);
    --text-accent-red-color: var(--text-accent-red-color-dark);
    
    --br-primary-color: var(--br-primary-color-dark);
    --br-dead-color: var(--br-dead-color-dark);
    
    width: 100vw;
    height: 100vh;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


body.light-mode {
    --bg-primary: var(--bg-primary-light);
    
    --bg-fill-food: var(--bg-fill-food-light);
    --snake-head: var(--snake-head-light);
    --bg-fill-snake-l: var(--bg-fill-snake-l-light);
    --bg-fill-snake-r: var(--bg-fill-snake-r-light);
    --bg-fill-dead-snake: var(--bg-fill-dead-snake-light);

    --text-primary: var(--text-primary-light);
    --text-accent-color: var(--text-accent-color-light);
    --text-accent-red-color: var(--text-accent-red-color-light);

    --br-primary-color: var(--br-primary-color-light);
    --br-dead-color: var(--br-dead-color-light);
    
    color: var(--text-primary);
    background-color: var(--bg-primary);
}



.check {
    outline: 1px solid blue;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: var(--pd-12) var(--pd-18);
    border: none;
    border-radius: var(--br-radius);
    font-size: 15px;
    font-weight: 600;
    transition: all 120ms ease-in-out;
}

.btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.btn-light-mode {
    background-color: var(--bg-primary-dark);
    color: var(--text-primary-dark);
}

.top-level {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: var(--gap-20);
    padding: var(--pd-44);
    overflow-x: hidden;
}

header.game-info {
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.mode-switch {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.mode-switch > .btn.light-mode {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

.game-score {
    width: 100%;
    justify-content: space-around;
    gap: var(--gap-16);
}

.info-box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--gap-12);
    padding: 4px 6px;
    font-size: 24px;
    font-weight: 700;
    border: 1.5px solid var(--br-primary-color);
    border-radius: var(--br-radius);
}

.game-board {
    width: 100%;
    flex-grow: 1;
    border: 1.5px solid var(--br-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--block-size), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--block-size), 1fr));
}

.block {
    width: var(--block-size);
    height: var(--block-size);
    text-align: center;
    outline: 1px solid var(--br-primary-color);
    font-size: 60%;
}

.snake-block {
    border-radius: 4px;
    background: linear-gradient(145deg, var(--bg-fill-snake-l), var(--bg-fill-snake-r));
}

.snake-head-block {
    background-image: var(--snake-head);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
    border-radius: 15px;
}

.dead-snake {
    background-color: var(--bg-fill-dead-snake);
}

.food-block {
    background-color: var(--bg-fill-food);
}

.start-overlay-display {
    display: flex !important;
}

.game-over-overlay-display {
    display: flex !important;
}

.overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #4e4e4e8d;
    backdrop-filter: blur(2px);
}

.overlay-text {
    width: 70%;
    margin-inline: auto;
    text-align: center;
    text-wrap: wrap;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 1px 2px var(--text-accent-color);
}

.game-over-overlay .overlay-text {
    font-size: 26px;
    text-shadow: 1px 1px 2px var(--text-accent-red-color);
}

.game-over-msg {
    margin-top: 6px;
    font-size: large;
    text-shadow: 1px 1px 2px var(--text-accent-color);
}

/* Media Queries */
@media (width <= 600px) {
    .game-info {
        flex-direction: column;
        align-items: flex-start !important;
        gap: 20px;
    }

    .game-score {
        justify-content: space-between !important;
    }

    .mode-switch {
        width: fit-content;
    }
}

@media (width <= 416px) {
    .game-info {
        flex-direction: column-reverse;
        align-items: flex-start !important;
    }

    .game-score {
        flex-direction: column;
        justify-content: space-between !important;
        align-items: flex-start;
    }

    .mode-switch {
        width: fit-content;
    }
}